<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="External/Packages" />
    <add key="defaultPushSource" value="https://www.myget.org/F/lukasz_szeszol/api/v3/index.json" />
  </config>
  <packageSources>
    <add key="MyPrivateRepo - ES" value="https://www.myget.org/F/lukasz_szeszol/api/v3/index.json" />
  </packageSources>
</configuration>